
<div class="container search-box">
  <div class="row">
    <div class="search-city">
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
        <input class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation" placeholder="Please input a Location" formControlName="location"/>
      </form>
    </div>    
  </div>
</div>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="card bg-dark text-white" style="border-radius: 40px;">
          <div class="bg-image" style="border-radius: 35px;">
            <img 
            src="assets/img/defult.webp"
            class="card-img"
            alt="weather"
            style="border-radius: 40px;"
          />
            <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
          </div>
          <div class="card-img-overlay text-dark p-5">
            <h4 class="mb-0">{{  cityName  }}</h4>
            <p class="display-2 my-3">{{ tempCelsius | number: '1.0-0'}}°C</p>
            <p class="mb-2">Feels Like: <strong>{{ feelCelsius | number: '1.0-0'}}°C</strong></p>
            <h5>{{weatherInfo | json}}</h5>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>






